<div class = "addpayment">
 <div class = "cardconfirm">
  <div class ="addpaymenttitle">Add Payment</div>
  <%= form_tag save_payment_order_path(@order) do %>
    <div id="payment-form"></div>
    <div class ="savepayment"><%= submit_tag 'Save Payment', class: 'btn btn-savepayment' %></div>
  <% end %>
  <%= javascript_include_tag 'https://js.braintreegateway.com/v2/braintree.js' %>
 </div>

</div>
 <script>
   braintree.setup("<%= @bt_client_token %>", "dropin", {
     container: "payment-form"//,
     // onPaymentMethodReceived: function(response) {
     //   var form = $('form');
     //   form.append('<input type="hidden" name="response", value=\'' + JSON.stringify(response) + '\' />');
     //   form.submit();
     // }
   });
 </script>
