<h1>我的訂單一覽</h1>
<table class="table">
  <tr>
    <th>訂單編號</th>
    <th>細目</th>
    <th>總金額</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td>
        <% line = order.line_item %>
        <%= line.product.name %>: <%= line.quantity %> 筆
    </td>
      <td>$<%= order.amount %></td>
    </tr>
  <% end %>
</table>