<div class="container-fluid">
  <div class="row">
    <% if @order.fulfiller == @fulfill_request.user %>
      <%= render 'accepted' %>
    <% else %>
      <%= render 'rejected' %>
    <% end %>
  </div>
</div>