@import "bootstrap-sprockets";
@import "bootstrap";
@import "masonry/basic";
@import "masonry/centered";
@import "masonry/fluid";
@import "masonry/gutters";
@import "masonry/infinitescroll";
@import "masonry/right-to-left";
@import "masonry/transitions";
@import "font-awesome";
.row [class^=col-],
div [class*=col] {
  // padding-top: 10px;
  // padding-bottom: 10px;
  // background-color: rgba(86, 61, 124, .15);
  // border: 1px solid rgba(86, 61, 124, .2);
}

body {
  font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

.header {
  background: #363636;
}

.logo {
  padding: 10px 0px 0px 20px;
  float: left;
}

.logo img {
  height: 50px;
}

.menu {
  padding-top: 15px;
  float: right
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.btn-signup {
  color: #fec503;
  font-size: 16px;
  border-color: #fec503;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px 50px;
}

.btn-signup:hover {
  color: black;
  border-color: #fec503;
  background-color: #fec503;
}

.btn-menu {
  color: white;
  font-size: 16px;
}

.btn-menu:hover {
  color: #fec503;
}

.layoutcate {
  line-height: 20px;
}

.secondbar {
  margin-bottom: 0px;
}

.category img {
  display: block;
  margin: 0 auto;
}

.log {
  float: right;
}

.probar {
  font-size: 30px;
  margin: 0px auto;
  width: 1240px;
  text-align: center;
  color: #30302f;
  border-bottom: 2px solid #30302f;
  padding: 20px;
  margin-top: 80px;
}

.proname {
  line-height: normal;
  height: 60px;
  text-align: center;
  font-size: 30px;
}

.layoutcate li {
  padding: 5px 50px;
  color: white;
  display: inline-block;
  font: inherity;
}

.log li {
  display: inline-block;
}

.log li a {
  text-decoration: none !important;
}

.propic img {
  max-width: 480px;
}

.box {
  background-color: transparent;
  margin: 20px 10px 0px 10px;
}

.detailpics {
  float: left;
  margin-left: 0px;
  margin-top: 30px;
}

.proshow {
  margin: 0px auto;
  width: 1000px;
  margin-top: 70px;
  overflow: hidden;
}

.prodetail {
  height: 600px;
  float: left;
  margin-left: 80px;
}

.matcharea {
  margin-top: 25px;
}

.showcata {
  width: 100px;
}

.proprice {
  height: 70px;
  color: red;
  font-size: 30px;
}

.text-hero {
  position: absolute;
  color: white;
  top: 150px;
  left: 150px;
  z-index: 2;
}

.text-jumbo {
  font-size: 4em;
  font-weight: 300;
}

.loginsection {
  border: 2px solid;
}

.btn.stroke.smooth.scroll {
  color: black;
  border-color: black;
  border: 2px solid;
  background-color: transparent;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  min-width: 0;
  padding: 8px 120px;
}

.light-typo {
  color: #fff;
}

.color-bg {
  background-color: #fec503;
}

.padding-top-bottom {
  padding: 60px 0;
}

.fa.fa {
  color: black;
}

.bg-lt-grey {
  background: #404549;
  line-height: 50px;
}

.testt {
  margin-top: 10px;
  color: red;
}

.tiitle {
  margin-bottom: 30px;
  font-size: 30px;
  background: #404549;
}

.countryflag {
  width: 400px;
  height: 300px;
  margin: 0px auto;
  margin-top: 5px;
}

#cta {}

section#contact {
  background-color: #222;
  background-image: url(http://ironsummitmedia.github.io/startbootstrap-agency/img/map-image.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#categories {
  background-color: #222;
}

#cateename {
  padding-top: 100px;
  letter-spacing: 5px;
  margin: 0px auto;
  font-weight: 100;
  width: 900px;
  border-bottom: 1px solid;
}

.text-white {
  color: white;
}

.btn.btn-regisubmit {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 5px 0;
  color: black;
  border-color: #fec503;
  background-color: #fff300;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 30px;
  min-width: 0;
  padding: 10px 50px;
  width: 240px;
}

.signup {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, .2);
  width: 500px;
  margin: 0px auto;
  height: 500px;
}

.signupcontainer {
  width: 100%;
  margin-top: 130px;
  position: absolute;
  height: 300px;
}

.btn-facebook-signin,
.btn-facebook-signin:hover {
  border-color: #425F9E;
  background-color: #425F9E;
  color: white;
}

.regifield {
  width: 240px;
}

.renderlinks {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 5px 0;
  background-color: #f3f3f3;
  margin-top: 0px;
}

.btn.btn-regisignin {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 5px 0;
  color: black;
  border-color: #fec503;
  background-color: #fff300;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 30px;
  min-width: 0;
  padding: 10px 50px;
  width: 240px;
}

.rdysignup {
  padding-top: 10px;
  margin-top: 25px;
  text-align: center;
}

.productsshow {
  position: absolute;
  margin-top: 0px;
}

.generic-block-wrapper.generic-block--tall {
  background-image: url('http://i.imgur.com/rjWbK.jpg');
  min-height: 750px;
}

.generic-block-wrapper.parallax {
  background-attachment: fixed;
}

.generic-block-wrapper {
  padding: 0px 0;
  position: relative;
}

.block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.block--center {}

.btn.btn-middlebottom {
  color: white;
  border-color: #fec503;
  background-color: #fec503;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 500;
  margin-left: 150px;
  margin-top: 250px;
  width: 350px;
  padding: 10px 50px;
  letter-spacing: 2px;
}

.seperate {
  margin-top: 100px;
  height: 350px;
  margin-bottom: 30px;
}

.middlewords {
  color: white;
  font-size: 60px;
  top: 60px;
  left: 0px;
  height: 250px;
  width: 450px;
  margin-left: 150px;
  background-color: transparent;
  font-weight: 100;
}

.middledownwords {
  color: white;
  font-size: 20px;
  margin-left: 150px;
  margin-bottom: 120px;
  width: 750px;
  background-color: transparent;
  font-weight: 100;
  letter-spacing: 2px;
}

.core-service {
  padding: 30px 50px;
  height: 250px;
}

#purchasesection {
  margin-top: 50px;
}

.btn.btn-match {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 5px 0;
  color: #30302f;
  background-color: #fec503;
  border-radius: 4px;
  font-size: 28px;
  font-weight: 500;
  margin-top: 50px;
  min-width: 0;
  padding: 10px 100px;
  font-weight: 300;
  letter-spacing: 2px;
}

.buyerdetail {
  width: 100%;
  background-color: #f7f8f8;
  margin: 0px auto;
  margin-top: 110px;
  position: absolute;
  min-height: 650px;
}

.buyerdetails {
  border: 0px solid;
  margin-top: 60px;
  width: 380px;
  margin-left: 80px;
  height: 650px;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .35);
}

.cartdetail {
  font-size: 25px;
}

.cartprice {
  color: red;
}

.addpayment {
  text-align: center;
  width: 100%;
  height: 600px;
  margin-top: 118px;
}

.cardconfirm {
  margin: 0px auto;
  height: 400px;
  width: 700px;
  margin-top: 70px;
}

.paymentconfirm {
  border: 0px solid;
  width: 100%;
  margin-top: 0px;
  height: 1300px;
}

.paymentimage {
  border: 2px solid;
  width: 96px;
  height: 24px;
}

#paymentdetails {
  margin: 0xp solid;
  box-shadow: rgba(0, 0, 0, .2) 0 2px 5px 0;
  width: 100%;
  border: 0px solid;
  margin-top: 0px;
  background: white;
}

.thankyouaftermatch {
  background: #ffefd5;
  height: 450px;
  border: 0px solid;
  width: 620px;
}

.setcart {
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .35);
  margin-left: 90px;
  margin-top: 60px;
  height: 650px;
}

.buyerarea {
  border: 2px solid;
  height: 950px;
  background-color: #fff;
  width: 1200px;
  margin: 0px auto;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .15);
}

.btn.btn-buyer {
  color: white;
  background-color: black;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 4px;
  padding: 10px 50px;
  width: 340px;
  letter-spacing: 2px;
}

.calmdown {
  padding: 15px;
  color: #636363;
  background: #ffefd5;
  margin-top: 50px;
  text-align: center;
  height: 70px;
  border-color: blue;
  font-size: 30px;
  letter-spacing: 5px;
  text-weight: 50;
}

.savepayment {
  margin: 20px auto;
  margin-top: 70px;
}

.btn.btn-savepayment {
  color: white;
  background-color: black;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px 50px;
  width: 340px;
  letter-spacing: 2px;
}

.addpaymenttitle {
  font-size: 30px;
  height: 60px;
}

.order-summary {
  margin: 0px auto;
  background: #f7f7f7;
  width: 800px;
  border: 0px solid;
  height: 450px;
}

.dotted-list {
  padding-top: 20px;
  text-align: left;
  border: 0px solid;
  border-color: blue;
  height: 400px;
  width: 500px;
  margin-left: 20px;
}

.dotted-list dt:after {
  content: "..................................................................................................................................................................................................................";
  display: inline-block;
  width: 0;
  color: #313132;
  font-size: .7857142857rem;
  letter-spacing: 1.5px;
}

.dotted-list dt {
  display: table-cell;
  width: 100%;
  max-width: 0;
  overflow: hidden;
  vertical-align: top;
}

.dotted-list dd {
  display: table-cell;
  margin: 0;
  padding-left: 4px;
  vertical-align: bottom;
  white-space: nowrap;
}

.dotted-list span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
}

.thankyouimg {
  margin: 0px auto;
  margin-top: 30px;
  border: 0px solid;
}

.heading {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: center;
}

.btn.btn-continuebutton {
  color: white;
  background-color: #67c39f;
  border-color: #67c39f;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px 50px;
  width: 340px;
  letter-spacing: 2px;
  margin-top: 100px;
}

.thankyouproductimage {
  width: 250px;
  border: 0px solid;
  height: 400px;
}

.thankyoupage {
  text-align: center;
  background: white;
  height: 800px;
  border: 0px solid;
}

.lineitemname {
  font-size: 15px;
  letter-spacing: 1px;
}

.totall {
  font-size: 20px
}

.thankyouwords {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 2px;
}

#orderreview {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 5px 0;
  color: #555;
  background: #ffefd5;
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0px auto;
  width: 100%;
  border: 0px solid;
  font-weight: 400;
  letter-spacing: 2px;
}

#orrderdetail {
  padding-left: 5px;
  font-size: 50px;
  color: #555;
  margin-top: 10px;
  border: 0px solid;
}

.paymentdetail {
  background-color: #f7f7f7;
  margin: 0px auto;
  width: 1200px;
  border: 0px solid;
  border-color: blue;
  height: 1000px;
}

.paymenttdetail {
  padding-left: 5px;
  color: #555;
  font-size: 50px;
}

.shippingdetails {
  padding-left: 5px;
  color: #555;
  font-size: 50px;
}

.paymentbutton {
  text-align: center;
  width: 100%;
  height: 100px;
  background: #ffefd5;
  border: 0px solid;
}

.btn.btn-paymentbutton {
  color: white;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 4px;
  padding: 10px 50px;
  width: 340px;
  letter-spacing: 2px;
}

.paymenttdetail p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

#educate {
  padding-top: 8px;
  margin: 0px auto;
  width: 600px;
  color: red;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.center-block {
  display: block;
  margin-left: auto;
}

.acceptance td {
  text-align: right;
}

.btn-bemine,
.btn-bemine:active,
.btn-bemine:focus,
.btn-bemine:hover,
.btn-bemine:visited {
  border-color: #fec503;
  background-color: #fec503;
  min-width: 200px;
}

.page-header {
  border-bottom: 1px solid #eee;
}

.container {
  margin-bottom: 100px;
}

.footer {
  padding: 75px 0;
  color: lightgray;
  background-color: #222222;
  background-image: image-url('world_map.png');
  background-position: center;
  background-repeat: no-repeat;
}

.darken {
  -webkit-filter: brightness(70%);
}

.text-overlay {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.text-shadow {
  text-shadow: 0px 0px 20px black;
}

.home-section {
  padding: 75px 0px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.buy-container {
  padding: 25px;
}

.product-image {
  width: 100%;
}

.carousel-inner img {
  width: 100%
}

.category {
  padding: 30px 0px;
}

#user-name {
  color: white;
}
